body{
	margin: 0;
	font-family: 'Lilita One', cursive;
}

h1{
	color: #EEEEEE;
}

h2{
	color:#212121;
}



.banner{
	background-image: url('https://i.pinimg.com/originals/5d/a8/e3/5da8e3b5a0ddfd9aff9277d494bef010.jpg');
	height:500px;
	display:flex;
	size:20px;
}

.banner-content{
	margin: auto;
	padding-bottom: 15px;	
	padding-top: : 15px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	width : 50%;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 4px 6px 13px 1px rgba(49,10,49,0.4);
	background-color: rgba(255, 255, 255, 0.4);

}

.profile-pic{
	width:100px;
	height:100px;
	border-radius: 50%;
	border: 3px solid #0F1922;
	margin-top: 15px;
}

.content{
text-align: center;
/*display:flex;*/
background-color:#EEEEEE;
padding-left: 10%;
padding-right: 10%;
padding-top: 20px;
padding-bottom: 20px;
}

.cards {
	display: flex;

}

.card1{
	background-image: url('https://i.imgur.com/QGGScei.gif');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

.card2{
	background-image: url('https://i.imgur.com/15e45kO.gif');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

.card3{
	background-image: url('https://i.imgur.com/S629Sgh.gif');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

.card4{
	background-image: url('https://lh3.googleusercontent.com/W8Fy81tSqxzr5cnoZqSJpfmp4Dkj2tcO7VHYzUdcpbtFAMxZvwKuJ6Aixi_ww-0gA195F6jrncTqbRvx6Ssj9NW_2KvDct-vA74Fy5QnRe0vEZ8N8_GzvTq8II2hdWoBMSRtvtlonZCqqCoDPZib67dChyiHTELAb-HS6marAOQLkKVHN5EN8U3_3owGo-A_1IGC5ZOo66FRxIsiASe7Us9m9_Cfax4WuXRAuwwB34WM_vBoa8pQ2pmnT1oFdHJ4y4D41VRfWDJhzi2b8vng5KiSPjFvibxLbQn_o4oA1sI6fEQUewnQBJHnQW-iF2nW6cO5WBm8-LgLeNCuQTAKOef4Za3rLpoSwFGgMQNe-E2DYR1j_5rGBsp3tsLr7Rx14Tc9k54pzzgzpy83JCAI79Y9Ji4Rsm64I573l3hBWtM9yjrAy1JYvHa0MHxzprf2W5f6ioZ3jk1SrNKDdve9JVMX_R4A2oI9L6wmoOqWqtBmnPWB6tppwMtDqGKduNbGU-SQCQWrrpnYx_DmOuKgW4TN1y-YWFn6nm2g_fZLKKmZcA7eE_olQ4XePhUsc6HL7vChe7kxgvXGrn5bDKe_xLEjO9XfL_Mzn12d4YpV-0WwghwJvoMuYgZ8meK1uoWVbkbPtrszDEfwDw3W6iijFX1Nw92B6m6Uwg4cdh6JTbi-6QIc30nNCA=w348-h413-no');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

.card5{
	background-image: url('https://i.imgur.com/7si5TWs.gif');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

.card6{
	background-image: url('https://lh3.googleusercontent.com/9QPw340Rd9N_FiR2G1_tZgKf1WWyKnh2roHE8HfcViQMuWaemXpMyTI6kFN5oJ-a2sr77-xCUWpZONnbqR0IUVhDvMkNTufrueu-svr5BzkShqGLIorrIvC7SJVDajId1fSV-2jjcNY6AVOLA3k6dD9YPVEuQ5yS3r3GE8tYiatLHuDLU0q-ih0b7YWOfcPN82pyrdtnjKUBzwC_lnCQm3ix3xVWqm1IQz9Iu0BOCIYbb11t_fmdKQgXVPYe7HyUXEJwS4P3F_deSELmivzbwc8PySBiywqdORZJrxi9isLXtKLvbck0dQMQnXkNe2N-V0EJSC0ba73GG_3OEVVeEIuFQuCxzK9pjiGI4NDymQ4oW3frzVXXGKb0VYnUYaE8UF2j0Wo6XwL4swL2Zdkr4TRbQMp1qcX6v8vcDOXTErYGnJYt4Ra9fMfcLP4Nmg7lippAaaIQq_UGOS8omVZ72bZq-8vAjj2mtPxDFpO2f91L2D7le9w-fIU4aEiNBjyyTHRDBM2BpaYIdV1JtNh14YiRd9PNDyPYoBZXjtyGwTmc-YUj3TRrZox-Z7DIvL9YzEFCWT1q_oDmxeJDI4zgigPCwzP7daYuZHg8ZdW3UNHKD6EzAGqugZdJ3kteLGcN2tvQGTFgr7trlJLS0aR-N2HNykwu6XTv8NobLzyBbrxZpDVLox5P4Q=w253-h450-no');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

.card7{
	background-image: url('https://i.imgur.com/EufGlFo.gif');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

.card8{
	background-image: url('https://i.imgur.com/DMlRUcd.gif');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

.card9{
	background-image: url('https://i.imgur.com/maHZUs1.gif');
	background-size: cover; 
	display:flex;
	padding: 10px;
	border-radius: 3px;
	width : 25%;
	text-align: center;
	justify-content: center;
	color:#EEEEEE;
	margin: 20px;
	height: 400px;
}

footer{
	width:100%;
	background-color:#212121;
	text-align: center;
	height:100px;
	display:flex;
	color:#EEEEEE;
	justify-content: center;
	align-items: center;
}
